doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="/javascripts/script.js")
  body
    header
      a(href= '/dashboard' id='logo') JFTF
      nav
        a(target='_blank' href='/') View Site
    main
      h1 #{blog.title}
      form(method='POST' action='' enctype="multipart/form-data")
        input(type='file' name='file' accept='image/*')
        input(type='text' placeholder='title' name='title' value=blog.title)
        textarea(name='message') #{blog.message}
        input(type='submit' value='Send')
      a(href='/dashboard') Cancel
        
    
